<h3>Modal Demo</h3>

<!-- sample modal content -->
<div id="modal-from-dom" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Did you know that?</h3>
    </div>
    <div class="modal-body">
        <p>The Great Wall of China was originally created to keep Chuck Norris out. It failed miserably.</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn primary">Primary</a>
        <a href="#" class="btn secondary">Secondary</a>
    </div>
</div>

<button data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" class="btn danger">Launch Modal</button>
