permalink: /en/documentation/articles/deploy-using-git-post-update/
---
<h1 id="main">Deploy Using Git's post-update hook</h1>

<p>Git supports various hooks, which are basically CLI scripts that are executed at different points of git
workflow.</p>
<p>
For easy site deployment we can use <code><a
        href="http://www.kernel.org/pub/software/scm/git/docs/githooks.html#post-update">post-update</a></code> hook,
which is executed on our remote production host everytime we push branches in our local/dev copy of Phrozn site.</p>

<p>The algorithm is simple:</p>
<ol>
    <li><span>Create a Git repository of your Phrozn project.</span></li>
    <li><span>Clone that repository on production host.</span></li>
    <li><span>Activate <code>post-update</code> hook on production host, it will be responsible for pulling/updating the
        site everytime something is pushed to project repository.</span></li>
    <li><span>Clone repository you created at <code>step 1</code> into your dev box, where you can update site as you
        see suitable.</span></li>
</ol>
<p>
Now when you update the code on your dev box, then <code>git-commit</code> and <code>git-push</code> it to production
host, once push is done <code>post-update</code> hook is invoked, which basically contains instructions to syncronize
by pulling changes.
</p>

<p class="warning">
    You should note that automatic pushing to live production server is something that is frowned upon unless you know
    what you are doing. Basically, you must understand that once you push changes they are live on your production host.
    If that's what you want - got with it!
</p>

<h2 id="walkthrough">Step-by-step instructions</h2>
<p>Instructions below should help you setting up <code>post-update</code> hook.</p>
<h3>Create git repository</h3>

<div class="hr"></div>
<p>
Human-friendly docs are coming soon, refer to <a
    href="http://stackoverflow.com/questions/2413804/how-to-deploy-jekyll-on-slicehost">this SoF answer</a> for time being.
</p>
<p>
<a href="http://danielmiessler.com/blog/using-git-to-maintain-your-website">Good article on the post-update.</a>
</p>

