<h1 id="documentation">Documentation</h1>

<h2 id="core">Core Docs</h2>
<ul>
    <li><a href="/en/documentation/articles/getting-started/">Getting started with Phrozn</a></li>
    <li><a href="/en/documentation/cli-phr/">Phrozn CLI reference</a></li>
    <li><a href="/en/documentation/front-matter/">Front matter format</a></li>
    <li><a href="/en/documentation/site-config/">Site configuration</a></li>
    <li><a href="/en/documentation/processors/">Text Processors</a></li>
    <li><a href="/en/documentation/providers/">Content Providers</a></li>
    <li><a href="/en/documentation/permalinks/">Permalink Strategies</a></li>
    <li><a href="/en/documentation/deployment/">Deployment</a></li>
</ul>

<h2 id="articles">Articles</h2>
<ul>
{#
    <li><a href="/en/documentation/articles/deploy-using-git-post-update/">Deploy Phrozn site using git's post-update hook</a></li>
#}
    <li><a href="/en/documentation/articles/create-custom-processor/">Create custom markup processor</a></li>
    <li><a href="/en/documentation/articles/create-phrozn-bundle/">Create Phrozn bundle</a></li>
</ul>
<h2 id="misc">Misc</h2>
<ul>
    <li><a href="/en/changelogs/">What's new in latest version (changelogs)</a></li>
</ul>
