permalink: /en/documentation/processors/
---
<h1 id="main">Supported markup processors</h1>

<h2 id="core">Core Processors</h2>
<p>Currently, Phrozn supports following formats:</p>
<ul>
    <li><a href="http://www.twig-project.org/">Twig</a> Templates</li>
    <li><a href="http://lesscss.org/">LESS</a> Stylesheet Language</li>
    <li><a href="http://michelf.com/projects/php-markdown/">Markdown</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Textile_%28markup_language%29">Textile</a></li>
</ul>
<p>Please note that <a href="/en/documentation/articles/create-custom-processor/">creating your own processor</a> is really easy!</p>
<h2 id="plugins">Contributed Plugin Processors</h2>
<ul>
    <li><a href="https://github.com/sasezaki/phrozn-plugin-HatenaSyntax">HatenaSyntax</a> by Kazusuke Sasezaki - Syntax used by Japanese <a
        href="http://d.hatena.ne.jp/">diary service</a>.  </li>
</ul>
<p>
If you created custom Phrozn processor, <a href="/en/community/">let me know</a>, so that your work is featured
here.
</p>
