<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    <title>My Webpage</title>
    <link href="styles/default.css" rel="stylesheet" media="screen, projection" type="text/css" />
  </head>
  <body>
    <h1>My Webpage</h1>
    {{ content }}
  </body>
</html> 
