<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Phrozn!</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- styles -->
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="styles/default.css">

        <!-- scripts -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js"></script>
        <script type="text/javascript" src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-dropdown.js"></script>
        <script type="text/javascript" src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-scrollspy.js"></script>
        <script type="text/javascript" src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-tabs.js"></script>
        <script type="text/javascript" src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-twipsy.js"></script>
        <script type="text/javascript" src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-popover.js"></script>
        <script type="text/javascript" src="scripts/default.js"></script>
        <script>
            $(document).ready(function () {
                $('.topbar').dropdown()
                            .scrollSpy()
                $('.tabs').tabs()
                $("a[rel=twipsy]").twipsy({
                    live: true
                })
                $("a[rel=popover]").popover({
                }).click(function(e) {
                    e.preventDefault()
                })
            });
        </script>
    </head>
    <body>
        {% include 'layouts/topbar.twig'%}
        <div class="container">
            {{ content }}
            {% include 'layouts/footer.twig'%}
        </div>
    </body>
</html>

