layout: default.twig
---
<div class="content">
    <div class="page-header">
        <h1>Welcome! <small>Default Phrozn layout uses <a href="http://twitter.github.com/bootstrap">Bootstrap</a> framework</small></h1>
    </div>
    <div class="row">
        <div class="span10">
            <h2>Main content</h2>

            <div class="clearfix" style="height:50px;"></div>
            {% include 'demos/modal.twig'%}

            <div class="clearfix" style="height:50px;"></div>
            {% include 'demos/twipsy.twig' %}

            <div class="clearfix" style="height:50px;"></div>
            {% include 'demos/popup.twig' %}

            <div class="clearfix" style="height:50px;"></div>
            {% include 'demos/tabs.twig' %}
        </div>
        <div class="span4">
            <h3>Secondary content</h3>
        </div>
    </div>
</div>
