permalink: /en/changelogs/
---
<h1 id="main">ChangeLogs</h1>
<p>To keep track on what has been introduced and when, below is a brief summary of version to version changes.
</p>

<h2 id="ver-0.5.2">ver 0.5.2</h2>
<div style="float:right"><i>19 Jan, 2013</i></div>
<ul>
    <li>PHP 5.4 is now supported version</li>
    <li>New command added: <a href="http://www.phrozn.info/en/documentation/cli-phr/#phr-single"><code>phr single</code></a> implemented by <a href="http://walterdalmut.com/">Walter Dal Mut</a>!</li>
</ul>

<h2 id="ver-0.5.1">ver 0.5.1</h2>
<div style="float:right"><i>18 Jan, 2013</i></div>
<ul>
    <li>Minor fixes</li>
</ul>

<h2 id="ver-0.5.0">ver 0.5.0</h2>
<div style="float:right"><i>18 Jan, 2013</i></div>
<ul>
    <li>Moved to <a href="http://getcomposer.org/">Composer</a>.
    Make sure you read the updated <a href="http://www.phrozn.info/en/installation/#composer">Installation Guide</a>.</li>
    <li>Integrated with <a href="https://travis-ci.org/farazdagi/phrozn">Travis CI</a></li>
    <li>Huge thanks to <a href="http://twitter.com/#!/Pawka">Povilas Balzaravičius</a>!</li>
</ul>

<h2 id="ver-0.4.0">ver 0.4.0</h2>
<div style="float:right"><i>20 Jan, 2012</i></div>
<ul>
    <li><a href="http://twitter.github.com/bootstrap/">Twitter's Bootstrap</a> used for default site (see <a href="http://sample.phrozn.info">sample</a>)</li>
    <li>Number of minor tweaks</li>
</ul>

<h2 id="ver-0.3.1">ver 0.3.1</h2>
<div style="float:right"><i>11 Sep, 2011</i></div>
<ul>
    <li>Twig processor was extended to support engine more closely.</li>
    <li>Twig template <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">inheritance </a>
    is enabled.</li>
    <li><a href="http://twig.sensiolabs.org/doc/templates.html#import-context-behavior">Template imports</a> are now supported for Twig engine.</li>
</ul>

<h2 id="ver-0.2">ver 0.2</h2>
<div style="float:right"><i>30 June, 2011</i></div>
<ul>
    <li><a href="http://www.phrozn.info/en/documentation/providers/">Content Providers</a> added</li>
    <li>
        Bundle support added (<a href="/en/documentation/cli-phr/#phr-bundle">phr bundle</a>).
        You can <a href="/en/documentation/articles/create-phrozn-bundle/">create your own bundle</a> and contribute it back.
    </li>
    <li>Phrozn <a href="https://github.com/farazdagi/phrozn-bundles">Bundles repository</a> created for user-contributed bundles.</li>
    <li>Better Front Matter extraction (bug fixed)</li>
    <li>Phrozn started using <a href="http://phing.info">Phing</a> for managing bundle builds.</li>
    <li>Table of Contents added to documentation pages (
        <a href="https://github.com/farazdagi/phrozn-site/blob/master/scripts/default.js">implementation</a>)</li>
</ul>

<p>Huge thanks to (in no particular order):</p>
<ul>
    <li><a href="http://twitter.com/#!/osmanungur">Osman Üngür</a></li>
    <li><a href="http://twitter.com/#!/kazusuke">Kazusuke Sasezaki</a></li>
    <li><a href="http://twitter.com/#!/Grummfy">Jonathan Van Belle</a></li>
</ul>

<h2 id="ver-0.1">ver 0.1 </h2>
<div style="float:right"><i>10 Apr, 2011</i></div>
<p>
First usable version of Phrozn.</p>
<p>Project stabilized (more or less) on ver 0.1.38. </p>
